.actions-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 6px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actions-wrapper li {
	display: flex;
	justify-content: flex-end;
}
.actions-wrapper li + li {
	margin-top: 8px;
}