.favorite-checkbox-wrapper {
	 background-color: white;
	 display: flex;
	 align-items: center;
	 gap: 4px;
	 justify-content: flex-start;
	 width: fit-content;
	 border-radius: 24px;
	 padding: 8px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
 .favorite-checkbox-wrapper .count {
	 margin-top: 0;
	 font-size: 12px;
	 line-height: 16px;
}
 .favorite-checkbox-wrapper input[type='checkbox'] {
	 /* display: none; */
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 opacity: 0;
	 cursor: pointer;
}
 .favorite-checkbox-wrapper input[type='checkbox'] + label .fill {
	 display: none;
}
 .favorite-checkbox-wrapper input[type='checkbox']:checked + label .fill {
	 display: block;
}
 .favorite-checkbox-wrapper input[type='checkbox']:checked + label .empty {
	 display: none;
}
 .favorite-checkbox-wrapper input[type='checkbox']:checked + label::before, .favorite-checkbox-wrapper input[type='checkbox']:checked + label::after {
	 opacity: 1;
}
 .favorite-checkbox-wrapper input[type='checkbox']:checked + label::before {
	 transform: scale(0.9);
	 background: #d04555;
}
 .favorite-checkbox-wrapper input[type='checkbox']:checked + label::after {
	 background: white;
	 transform: scale(1);
	 opacity: 1;
}
 .favorite-checkbox-wrapper input[type='checkbox'] + label::before, .favorite-checkbox-wrapper input[type='checkbox'] + label::after {
	 display: block;
	 content: '';
	 opacity: 0;
	 background: grey;
	 width: 16px;
	 height: 16px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 border-radius: 50%;
	 cursor: pointer;
	 transition: all 0.32s ease;
}
 .favorite-checkbox-wrapper input[type='checkbox'] + label::after {
	 z-index: 1;
}
 .add-favorite-checkbox {
	 font-size: 32px;
	 color: #d04555;
	 width: 16px;
	 height: 16px;
	 position: relative;
	 cursor: pointer;
	 display: flex;
	 align-items: center;
}
 .add-favorite-checkbox .icon {
	 position: absolute;
	 z-index: 2;
	 transition: all 0.32s ease;
	 width: 16px;
	 height: 16px;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 .add-favorite-checkbox .icon:hover {
	 opacity: 0.8;
}